body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumb Sans', sans-serif;
  scroll-behavior: smooth;
}

a[href] {
  text-decoration: none;
}

.framework-selection-container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.framework-selection-container .title-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.framework-selection-container .title-container h1 {
  font-weight: normal;
  font-size: 20px;
}

.framework-selection-container .buttons-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
}

/* .framework-selection-container .buttons-container button {
  width: 170px; 
  height: 50px; 
  margin: 10px;
  text-decoration: none;
  background-color: rgb(61, 144, 200);
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}

.framework-selection-container .buttons-container button:hover {
  background-color: #ece5e5;
  color: black;
} */

.framework-selection-container .buttons-container button {
  overflow: hidden;
  transition: all 0.3s ease;
  width: 170px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.framework-selection-container .buttons-container button:hover {
  background: #000;
  color: #fff;
}

.framework-selection-container .buttons-container button:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.dropbox-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
}

.dropbox-container .execution-page-title-container h1 {
  /* max-height: 100%; */
  max-width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  padding: 20px;
  /* margin: auto; */
  font-size: 15px;
  font-weight: normal;
  /* font-family: sans-serif, 'Kumb Sans'; */
  white-space: wrap;
}

.dropbox-container .drag-and-drop-box {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 200px;
  border: 1px dotted black;
  margin: 0 0 0 20px;
}

#skip-button {
  overflow: hidden;
  transition: all 0.3s ease;
  width: 130px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

#skip-button:hover {
  background: #000;
  color: #fff;
}

#skip-button:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

#sequence-button {
  overflow: hidden;
  transition: all 0.3s ease;
  width: 130px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  top: 80px;
  right: 40px;
  position: fixed;
}

#sequence-button:hover {
  background: #000;
  color: #fff;
}

#sequence-button:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

#input-area {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#output-container {
  position: fixed;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  bottom: 50px;
  right: 50px;
  overflow: auto; /* Add scrollbars if the content is too big */
  resize: both;
}

#output-area {
  /* margin-left: 20px; */
  margin: 4px;
  font-size: 12px; /* This is an example, adjust it according to your needs. This will scale the font-size with the viewport width */
}

#scrollableContainer {
  width: 300px; /* or any desired width */
  height: 300px; /* or any desired height */
  overflow: auto; /* or 'scroll' */
  border: 1px solid black; /* Add border here */
  margin-top: 20px; /* distance from the top */
  margin-left: 20px; /* distance from the left */
}

#informationList {
  list-style-type: none; /* remove bullets from list */
  margin-top: 10px; /* distance from the top */
  margin-left: 10px; /* distance from the left */
  padding: 0;
}

#informationList li {
  margin-bottom: 6px;
}

#model-selection-area {
  margin-right: 20px;
  margin-top: 50px;
  right: 30px;
  top: 130px;
  position: fixed;
}
